<% if logged_in? %>

<% if @errors %>
  <span>Something went wrong:</span>
  <ul class="error-list pad-b-2">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %>

<div class="question_form">
  <h1>Ask A Question To Pan Overflow</h1>
  <form id="question_form" action="/questions" method="POST">
    <input type="hidden" name="question[user_id]" value="<%= current_user.id %>">
    <input type="text" name="question[subject]" placeholder="Subject" tabindex="1"><br>
    <textarea rows="4" cols="19" name="question[body]" tabindex="1" form="question_form"></textarea>
    <br>
    <input type="text" name="question[tags]" placeholder="Tag your question" tabindex="1">
    <br>
    <input type="submit" value="Submit new question" tabindex="1">
  </form>
<% end %>
</div>
