<h4>Add your comment</h4>

<form id="comments" method="post" action="<%= comment_path(model) %>">
  <input type="text" name="body" placeholder="Add a comment">
  <input type="submit" value="Submit new comment">
</form>
