html{
  background: linear-gradient(#F0F0F0, #6E6E6E);
  background-attachment: fixed;
  height: 100%;
}

.topbar input[type=text] {
    width: 140px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    /*padding: 12px 20px 12px 40px;*/
    font-family: helvetica;
    transition: width 0.4s ease-in-out;
}

.topbar input[type=text]:focus {
    width: 25%;
}

.search_tag_box{
  display: inline;
}

.topbar{
  background: linear-gradient(#000000, #000060);
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 0px;
  padding-left: 0px;
  position: fixed;
  width: 100%;
  z-index: 1;

}
.topbar ul{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 10px;

}
.topbar li{
  display: inline;
}

form{
  font-family: helvetica;
}

.topbar a{
  color: #008FFF;
  font-family: 'Bungee', cursive;
  padding-left: 15px;
  text-decoration: none;

}
.main_box a{
  text-decoration: none;
  font-family: helvetica;
  color: black;
}
img{
  height: 25px;
  width: 20px;
}

.table{
  position: absolute;
  padding-left: 50px;
}

.main_box{
  position: relative;
  margin-left: 15%;
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: 35%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #303032;
  margin-bottom: 2%
}
.main_box:hover{
  background-color: #7FE2FF;
}

.subject{
  margin-left: 200px;
  font-style: bold, ;
  font-size: 24px;
  padding-bottom: 15px;
  color: #008FFF;
}

.author{
  font-size: 14px;
  margin-left: 200px;
}

.tag{
  margin-left: 500px;
}



.signup_login_form{
  width: 140px;
  margin: 0 auto;
  font-size: 18px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  /*padding: 12px 20px 12px 40px;*/
  font-family: helvetica;
  transition: width 0.4s ease-in-out;
}

input[type=submit]{
  background-color: white;
  border-radius: 10px;
  color: gray;
}

h1{
  text-align: center;
  font-family: 'Bungee', cursive;
}

.votebox input[type=image]{
  max-width: 50px;
  max-height: 50px;
}
.question_text{
  margin-left: 200px;
  width: 25%;
  position: absolute;
  top: 40%;
}

.votebox{
  position: absolute;
  width: 10%;
  bottom: 10px;
}

.outside{
  padding-bottom: 40px;
}
.answer_box{
  position: relative;
  margin-left: 15%;
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: 35%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #303032;
  min-height: 110px;
  margin-bottom: 2%;
}

.answer{
  margin-left: 20%;
  font-size: 28px;
  margin-bottom: 5%;
}

.comment_box{
  position: relative;
  margin-left: 25%;
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: 35%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #303032;
  padding-left: 5%;
  margin-bottom: 5%;
}

.comment_form{
  font-size: 18px;
  margin-left: 25%;
  margin-bottom: 5%;
}
h2{
  margin-left: 15%;
  font-size: 30px;
}
.answer_form{
  margin-left: 15%;
  margin-bottom: 10%;
}
#q_page_box:hover{
  background-color: white;
}

.question_form{
  width: 240px;
  margin: 0 auto;
  font-size: 18px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  text-align: center;
  /*padding: 12px 20px 12px 40px;*/
  font-family: helvetica;
  transition: width 0.4s ease-in-out;
}


