<h1>Sign Up for a Pan Overflow Account!!!</h1><br>

<% if @errors %>
  <span>Something went wrong:</span>
  <ul class="error-list pad-b-2">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %>
<div class="signup_login_form">
<form method="post" class="form_signup" action="/users">

  <input id="username-input" name="user[username]" type="text"  placeholder="username" tabindex="1"> <br><br><br>

  <input id="password-input" name="user[password]" type="password" placeholder="password" tabindex="1"><br><br>

  <input type="submit" value="Sign Up" tabindex="3">
</form></div>

