<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <div class="topbar"> <ul>
  <li><a href="/questions"><img src="/pan.jpg" alt="pan">      Pan Overflow<a></li><li><input type="text" name="search" placeholder="Search by Tag"></li><li><% if logged_in? %>
<a>Hello, <%=current_user.username%></a></li>
<li><a href="/questions/new">Ask A Question</a><li>
<li><a href="/users/signout">Sign Out</a><li></ul></div
<% else %>
<li><a href="/users/login">Login</li></a> <li><a href="/users/signup">Signup</li></a></ul>
<% end %></div>
  <link rel="stylesheet" href="/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Changa:400,800|Bungee' rel='stylesheet' type='text/css'>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
